


body {
  margin: 0px;
  margin-top: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(22, 37, 50);
}
#navbar {
  background-color: rgb(31, 42, 55);
  height: 80px;
  display: flex;
  position: fixed;
  width: 100%;
}
#logo {
  width: 30%;
  margin-left: 120px;
  display: flex;
  gap: 10px;
}
#logo h1 {
  background: -webkit-linear-gradient(rgb(90, 202, 233), rgb(15, 115, 245));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  margin-top: 2px;
}
#logo span {
  color: gold;
  font-size: 40px;
  margin-top: 6px;
  font-weight: 600;
  font-family: Cambria, Cochin;
}
#logo + div {
  width: 50%;
}
#navbar ul {
  list-style: none;
  display: flex;
  gap: 80px;
  margin-right: 20px;
}
#navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
}
#navbar ul li a:hover {
  color: rgb(62, 123, 250);
}
.nav-div {
  display: flex;
  /* flex-grow: 1; */
  justify-content: flex-end;
}
.fa-bars {
  color: white;
  width: 10%;
  margin: 15px 100px 0px 30px;
  cursor: pointer;
}
.bars {
  display: none;
}
#intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding-top: 150px;
  margin: 0px 120px;
  align-items: center;
}
#detail {
  color: whitesmoke;
}
#detail p {
  color: rgb(234, 228, 228);
  margin-bottom: -15px;
  font-size: 30px;
  font-weight: 600;
}
#detail h1 {
  font-size: 50px;

  color: rgb(230, 230, 240);
  margin: 15px 0px;
}
#detail h2 {
  font-weight: 400;
  margin-top: 0px;
  font-size: 40px;
}
.auto-type {
  color: gold;
}
#detail button {
  font-size: 32px;
  font-weight: 700;
  padding: 10px 35px;
  border-radius: 5px;
  background-color: rgb(7, 154, 202);
  border-style: none;
}
#detail button a {
  text-decoration: none;
  color: rgb(254, 254, 254);
}
#detail button:hover {
  background-color: rgb(5, 95, 206);
  cursor: pointer;
}
#intro-img {
  margin-right: 55px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
#intro-img:hover {
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  transform: scale(1.1);
  transition: ease-out 1s;
}
/* Home section end */

/* About Start */
#about {
  margin-top: 50px;
  margin-left: 120px;
  margin-right: 170px;
  height: auto;
}
.about-head {
  color: white;
  text-align: center;
  font-size: 40px;
  margin: 80px 0px;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}
.about-me {
  display: flex;
  gap: 100px;
  margin-top: 40px;
  margin-left: 10px;
}
.pic {
  width: 350px;
  height: 380px;
  margin-left: 200px;
}
.pic img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.des {
  width: 50%;
}
.des h2 {
  color: white;
  font-size: 35px;
}
.des p {
  color: rgb(218, 216, 216);
  line-height: 32px;
  letter-spacing: 0.8px;
  font-size: 24px;
}
.autoType {
  color: gold;
}

/* Skills section css */
#skill-name {
  margin: auto;
  margin-left: 120px;
  margin-right: 170px;
  margin-top: 60px;
}
.skill-under {
  text-align: center;
  color: white;
  font-size: 48px;
  text-decoration: underline;
  font-weight: 700;
}
.skill-detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  width: 90%;
  margin: auto;
  margin-left: 130px;
}
.FE,
.dsa {
  background-color: rgb(34, 34, 34);
  color: rgb(196, 194, 194);
  text-align: center;
  padding: 50px;
  font-weight: 400;
  font-size: 18px;
  width: 300px;
  height: 150px;
  line-height: 15px;
  border-radius: 8px;
}
.FE:hover,
.dsa:hover {
  background-color: rgb(34, 83, 200);
  cursor: pointer;
  transition: ease-out 0.6s;
  transform: scale(1.1);
}
.FE {
  margin-left: 275px;
}
.dsa > h1,
.FE > h1 {
  font-weight: 600;
  color: whitesmoke;
}
#tech-stack {
  margin-left: 120px;
  margin-right: 170px;
}
#main-stack,
#tools {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.stacks {
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 600;
}
.stacks:hover {
  color: rgb(143, 143, 219);
  transition: ease-out 0.6s;
  transform: scale(1.1);
}
.tech-img {
  width: 180px;
  height: 180px;
  margin-left: 70px;
}
.tech-img > img {
  width: 100%;
  height: 100%;
}
#projects {
  margin-left: 120px;
  margin-right: 170px;
}
#main-project-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.project-div {
  padding: 30px;
  background-color: rgb(34, 34, 34);
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
}
.project-div:hover {
  background-color: rgb(34, 83, 200);
  transform: scale(1.05);
  transition: ease-in 1s;
}
.project-div > h2 {
  text-decoration: underline;
  color: gold;
}
.project-img {
  width: 450px;
  margin: auto;
  height: 250px;
  border: 3px solid rgb(4, 64, 245);
  border-radius: 10px;
}
.project-img > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.project-button {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  gap: 20px;
}
.project-button > button {
  padding: 10px;
  border-radius: 2px;
  font-size: 22px;
  background-color: transparent;
  border: none;
  border: 2px solid white;
}
.project-button > button > a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

/* Github Stats */

.github-under {
  margin: auto;
  width: 90%;
}
.github-under img {
  margin-left: 20px;
  width: 550px;
}
#contacts {
  margin-top: 20px;
  margin-bottom: 150px;
}
.main-contact {
  margin-left: 120px;
}
.main-contact p {
  color: white;
  font-size: 28px;
  font-style: italic;
  font-weight: 700;
}
.contact-div {
  margin-top: 20px;
}
.contact-div > a + a {
  margin-left: 20px;

  color: white;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
}
#scroll-up {
  position: absolute;
  right: 2%;
  top: 533%;
  rotate: 90deg;
  background-color: rgb(11, 11, 11);
  height: 50px;
  width: 60px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
#scroll-up a {
  text-decoration: none;
  color: blue;
  font-weight: 700;
  font-size: 30px;
}
footer {
  background-color: rgb(98, 113, 127);
  height: 50px;
  font-size: 20px;
  color: white;
  font-weight: 600;
  text-align: center;
  padding-top: 20px;
}
@media all and (max-width: 768px) and (min-width: 200px) {
  /* Add your mobile-specific styles here */

  #navbar ul {
    display: none;

    flex-direction: column;
    position: absolute;
    gap: 0px;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: rgb(31, 42, 55);
    z-index: 1;
  }

  #navbar ul.active {
    display: flex;
  }

  #navbar .nav-div ul li {
    text-align: left;
    padding: 10px;
  }

  #logo {
    margin-left: 40px;
    margin-top: 10px;
  }
  .fa-bars {
    margin-right: 40px;
    margin-top: 20px;
  }
  .bars {
    display: block;
  }
  #intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 40px;
    width: 400px;
  }

  #detail h1 {
    font-size: 56px;
  }
  #detail h2 {
    font-size: 32px;
  }
  #detail button {
    font-size: 36px;
    padding: 8px 25px;
  }
  #intro-img {
    width: 400px;
    margin: auto;
  }
  #intro-img img {
    width: 100%;
  }
  /* About */
  #about {
    width: 450px;
    margin-left: 20px;
    margin-top: 50px;
  }
  .about-head {
    font-size: 56px;
  }
  .about-me {
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
  }
  .pic {
    margin: auto;
    width: 380px;
    height: 400px;
  }
  .des {
    width: 100%;
  }
  .des p {
    line-height: 25px;
    font-size: 28px;
    line-height: 36px;
  }

  /* skills */
  #skill-name {
    width: 450px;

    margin-left: 20px;
  }
  .skill-under {
    font-size: 56px;
  }
  .skill-detail {
    display: flex;
    flex-direction: column;

    margin: auto;
  }
  .FE,
  .dsa {
    margin: auto;
  }

  #tech-stack {
    margin-left: 20px;
    width: 450px;
    margin-top: 80px;
  }
  #main-stack,
  #tools {
    grid-template-columns: repeat(2, 1fr);
  }
  .stacks {
    font-size: 38px;
  }
  .tech-img {
    width: 160px;
    height: 160px;
    margin-left: 20px;
  }

  /* projects */
  #projects {
    width: 450px;
    margin-left: 16px;
  }

  #main-project-div {
    grid-template-columns: repeat(1, 1fr);
  }
  .project-div:hover {
    transform: scale(1.03);
  }
  .project-img {
    margin: auto;
    width: 380px;
  }

  /* github */
  #github {
    /* width: 450px; */
    /* text-align: center; */
    /* margin: auto; */
    /* margin-left: 40px; */
  }
  .skill-under1 {
    text-align: center;
    color: white;
    font-size: 48px;
    margin-left: 100px;
    text-decoration: underline;
    font-weight: 700;
  }
  .github-under {
    width: 400px;
    margin-left: 13px;
  }
  .github-under img {
    width: 420px;
    height: 200px;
  }

  /* contact */
  #contacts {
    margin-top: 40px;
  }
  .main-contact {
    margin-left: 30px;
  }
  .contact-div > a + a {
    margin-left: 60px;

    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
  }
  #scroll-up {
    top: 1310%;
    left: 106%;
  }
  footer {
    background-color: rgb(687, 113, 127);

    width: 480px;
    font-size: 24px;

    font-weight: 700;
  }
}
